@import url('./vendor/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: black !important;
}

@layer base {
  #root {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .btn-default {
    @apply cursor-pointer rounded-md border-none bg-green-cold px-4 py-5 font-medium transition-colors hover:bg-green-cold-hover active:bg-green-cold-active disabled:pointer-events-none disabled:bg-grey-dark disabled:text-grey-light md:py-3;
  }

  .btn-round {
    @apply h-10 w-10 rounded-full border-none bg-green-cold bg-close bg-70 bg-center bg-no-repeat transition-colors hover:bg-green-cold-hover active:bg-green-cold-active;
  }

  .btn-transparent {
    @apply cursor-pointer rounded-md border-2 border-white px-4 py-5 text-white hover:bg-grey-dark active:bg-transparent md:py-3;
  }

  .trail-triangle {
    @apply after:absolute after:-right-8 after:top-1/2 after:h-6 after:w-6 after:-translate-y-1/2 after:bg-triangle-green-r after:bg-contain after:content-[''];
  }

  .underlined {
    @apply relative font-medium transition-colors after:absolute after:-bottom-[2px] after:left-0 after:h-px after:w-full after:content-[""];
  }

  .underline-white {
    @apply underlined after:bg-white hover:after:bg-green-cold active:after:bg-green-cold-hover;
  }

  .underline-green {
    @apply underlined after:bg-green-cold hover:after:bg-green-cold-hover active:after:bg-green-cold-active;
  }

  .writing-v {
    writing-mode: vertical-lr;
  }

  .writing-h {
    writing-mode: initial;
  }
}
