@import url('./vendor/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .btn-default {
    @apply hover:bg-green-cold-hover cursor-pointer rounded-md border-r bg-green-cold px-4 py-3 font-medium transition-colors disabled:opacity-30;
  }
}
